[submodule "third-party/granite"]
	path = third-party/granite
	url = https://bitbucket.org/aratvic/granite
[submodule "radeonrays_sdk_fork"]
	path = radeonrays_sdk_fork
	url = https://bitbucket.org/aratvic/radeonrays_sdk_fork
