[submodule "third_party/granite"]
	path = third_party/granite
	url = https://bitbucket.org/aratvic/granite
[submodule "third_party/Vulkan-Headers"]
	path = third_party/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "third_party/tinyobjloader"]
	path = third_party/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader
[submodule "third_party/gsl"]
	path = third_party/gsl
	url = https://github.com/microsoft/GSL
